#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: gray;
}

.listing {
  list-style: none;
  padding-left: 0;
}
.center {
  text-align: center;
}

footer {
  margin-top: 45px;
  padding: 5px 0px 0px 40px;
  border-top: 1px solid black;
}

body {
  background-color: Khaki;

}

.badge {
  background-color: orange;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.description {
  font-size: 20px;
  text-indent: 15px;
}
.description:first-letter {
  font-size: 20px;
  text-transform: capitalize;
}
.book-name {
  font-size: 16px;
}
.book-name:first-letter {
  font-size: 16px;
  text-transform: capitalize;
}
.authors {
  font-size: 16px;
  text-indent: 15px;
  text-transform: capitalize;
  }

.input_checkbox {
  font-size: 14px;
  text-transform: capitalize;
}
